@media(max-width:1920px){
header{height: 80px;background-color: #161414;max-width: 1920px;margin: -8px;text-align: center;margin-top: -21px;}
.nav1{color: #fff;font-size: 25px;text-decoration: underline #161414;}
.h1header{color: #fff; font-size: 25px;padding-top: 25px;margin-left: -900px;}
.nav2{margin-top: -50px;}
a{padding: 15px;}
header img.pizzaimgh{}
}